*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.company h6:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}


.maruti-cars{
  display: none;

}
.maruti-cars li{
  list-style: none;
  background-color: #eee;
  padding: 10px 20px ;
  width: 100%;
  border-radius: 10px;
margin-bottom: 1rem;
}

.maruti-cars li:hover{
  background-color: #ddd;
}




.maruti:hover .maruti-cars {
  display: block;
}



.ford-cars{
  display: none;

}
.ford-cars li{
  list-style: none;
  background-color: #eee;
  padding: 10px 20px ;
  width: 100%;
  border-radius: 10px;
margin-bottom: 1rem;
}

.ford-cars li:hover{
  background-color: #ddd;
}




.ford:hover .ford-cars {
  display: block;
}